@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linked {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enlace {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
  border: 3px solid white;
  padding: 5px 50px 5px 50px;
}

#login {
  width: 70%;
  border: 1px solid #cccbc8;
  padding: 2.5%;
  box-shadow: 1px 2px #cccbc8;
}

#button{
  display: flex;
  justify-content: center;
  height: 100%;
  background: none;
  border: none;
  color: white;
  font-weight: bold;
}

{/*----------------------------------------------------------------------------------------*/}
{/*-----------------------------------LOGIN------------------------------------------------*/}
.CampoDeTexto input {
  padding: 7px;
  width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
  border: 0 0 0.5px 0;
  border-radius: 10px;
  /*border-bottom-color: #cccbc8;*/
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.CampoDeTexto .tag {
  background: lightblue;
  color: black;
}


::placeholder{
  color:#cccbc8;
  opacity: 1;
}

input:valid {
  border: 0 0 0.5px 0;
  border-bottom-color:blue;
}

input:focus {
border: 0 0 0.5px 0;
border-top: none;
border-left: none;
border-right: none;
/*border-bottom-color:blue;*/
outline: none;
}


@keyframes expandir {
  from {
    position: relative;
    margin-left: 50%;
    width: 0%;
  }
  to {
    position: relative;
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes contraer {
  from {
    position: relative;
    margin-left: 0%;
    width: 100%;
    visibility: visible;
  }
  to {
    position: relative;
    margin-left: 50%;
    width: 0%;
    visibility: visible;
  }
}

#LineaInferior_onFocus {
  display: block;
  background: blue;
  width: 100%;
  height: 2px;
  margin-top: -2px;
  animation-duration: 3s;
  animation-name: expandir;
}

#LineaInferior_onBlur {
  display: block;
  background: blue;
  width: 100%;
  height: 2px;
  margin-top: -2px;
  animation-duration: 3s;
  animation-name: contraer;
  visibility: hidden;
}

#Linea_base {
  display: block;
  background: #cccbc8;
  width: 100%;
  height: 2px;
}

#Linea_oculta{
  display: block;
  background: #cccbc8;
  width: 100%;
  height: 2px;
  margin-top: -2px;
  visibility: hidden;
}
.bodyLog{
  background: linear-gradient(to top, rgb(16, 81, 172) , rgb(16, 36, 172), rgb(89, 16, 172), rgb(136, 16, 172), rgb(164, 16, 172));
}
.logo {
  width: 50%;
  //border-radius: 50%;
  margin-left: 25%;
  display: flex;
  justify-content: center;
}

.CardLogin{
  background-color: rgba(191, 191, 191, 0.66);
  color: white;
}


.ForgotPass {
  color: rgb(235, 234, 234);
  font-size: 13px;
  float: right;
}

.ButtonLogin{
  margin-top:10px;
  margin-left: 30%;
  font-weight: 600;
  font-size: 18px;
  color: rgb(127, 127, 127);
  width: 34%;
  padding: 10px;
}

.TextoExplicativo {
  color: rgb(235, 234, 234);
  font-weight: 600;
  font-size: 18px;
}

.Texto {
  color: #cccbc8;
  font-size: 13px;
}

.PlaceHolderLogin{
  color: red;
  padding: 100px;
  border-radius: 20px;
}

.link {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.home {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position:40%;
  background-size:cover;
}
.lista {
  display: flex;
  justify-content: center;
  text-align: center;
}
.elementos {
  display: inline;
  text-align: center;
  margin: 0 10px 0 0;
  width: 30%;
}
.refs {
  text-decoration: none;
  color: white;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: black;
  width: 100%;
}
.logopag {
  width: 20%;
  display: flex;
  justify-content: center;
}
.divaux {
  height: 200px;
}
.centrar {
  display:flex;
  justify-content: center;
}
.titulo
{
  font-size: 350%;
  font-weight: bold;
  display:flex;
  justify-content: center;
  text-align: center;
  color: black;
}

.seccion2 {
  background: black;
  height: 500px;
}

#acerca {
  text-align: center;
}
#acerca h1 {
  font-weight: bold;
  margin:0px;
  padding-top: 100px;
  font-size: 30px;
  color:white;
}
#acerca p {
  width: 80%;
  margin-left: 10%;
  font-family: "montserrat-regular", sans-serif;
  font-size:20px;
  color: #B3B6B7;
}
.seccion3 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position:40%;
  background-size:cover;
  width: 100%;
  height: 100%;
}

#beneficios{
  text-align: center;
}

#beneficios h1{
  font-weight: bold;
  margin: 0px;
  padding-top: 100px;
  font-size: 30px;
  color:white;
}
.beneficio{
  display: flex;
  justify-content: center;
}
.bloque {
  width: 20%;
}
.icon{
  font-size: 50px;
  color:orange;
}
.text{
  color:white;
  height: 50%;
}
.seccion4 {
  background-repeat: no-repeat;
  background-position:40%;
  background-size:cover;
  width: 100%;
  height: 100%;
}


#contacto h1{
  font-weight: bold;
  margin: 0px;
  padding-top: 100px;
  font-size: 30px;
  color:white;
  text-align: center;
  margin-bottom: 20px;
}
.contact{
  color:white;
  display: flex;
  align-items: center;

}
#contacto h3{
  color:#FAFAFA;
  margin:0px;

}
.HomeContacto{
  display:flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.barraIzquierda{
  width: 25%;
  background-size: auto;
  height: 100%;
  margin:0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

.application{
  width: 100%;
  height: 100%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 20px;
  margin-right: 20px;
}

#buttonCont {
  width: 100px;
  height: 100px;
  border-bottom: 2px solid #eee;

  background-image: -webkit-linear-gradient(top, #999, #d0d0d0 80% );
  background-image: -moz-linear-gradient(top, #999, #d0d0d0 80% );
  background-image: -ms-linear-gradient(top, #999, #d0d0d0 80% );
  background-image: -o-linear-gradient(top, #999, #d0d0d0 80% );
  background-image: linear-gradient(top, #999, #d0d0d0 80% );

  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;

  box-shadow: inset rgba(0,0,0,0.2) 0px 5px 6px ;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  margin-left: 10%;
  margin-top: 10%;
}

.botonapp {
  border: none;
  width: 90px;
  height: 90px;
  left: 5px;
  top: 5px;
  cursor: pointer;
  font-family: "Lucida Sans";
  font-weight: bold;
  font-size: 23px;
  color: #888;
  text-shadow: 0px 1px 0px #fff;
  text-align: center;

  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
/*  border-radius: 100px;*/

  background-image: -webkit-linear-gradient(top, #eee, #bbb 70%, #9f9f9f 100% );
  background-image: -moz-linear-gradient(top, #eee, #bbb 70%, #9f9f9f 100% );
  background-image: -ms-linear-gradient(top, #eee, #bbb 70%, #9f9f9f 100% );
  background-image: -o-linear-gradient(top, #eee, #bbb 70%, #9f9f9f 100% );
  background-image: linear-gradient(top, #eee, #bbb 70%, #9f9f9f 100% );

  background-position: 0 6px;
  background-color: #eee;
  background-repeat: no-repeat;

  -webkit-box-shadow: rgba(0,0,0,.4) 0 3px 6px;
  -moz-box-shadow: rgba(0,0,0,.4) 0 3px 6px;
  box-shadow: rgba(0,0,0,.4) 0 3px 6px;
  outline:0px;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -ms-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
}


.botonapp.botonActive {
  left: 10px;
  top: 10px;
  width: 80px;
  height: 80px;
  background-position: 0 0px;
  color: #62D240;
  -webkit-box-shadow: rgba(0,0,0,.4) 0 3px 8px;
  -moz-box-shadow: rgba(0,0,0,.4) 0 3px 8px;
  //box-shadow: rgba(0,0,0,.4) 0 3px 8px;
  outline:0px;
  box-shadow: 0 5px 50px rgba(83, 239, 35, 0.68);
}

.botonapp.botonActive:hover {
  box-shadow: 0 5px 50px rgba(83, 239, 35, 0.68);
}


.botonapp:hover {
  background-position: 0 0px;

  -webkit-box-shadow: rgba(0,0,0,.4) 0 3px 8px;
  -moz-box-shadow: rgba(0,0,0,.4) 0 3px 8px;
  box-shadow: rgba(0,0,0,.4) 0 3px 8px;
  outline:0px;
  box-shadow: 0 5px 50px rgba(133, 145, 129, 0.68);
}

.botonapp:active {
  outline:0px;
  left: 10px;
  top: 10px;
  width: 80px;
  height: 80px;
  background-position: 0 0px;
  color: #62D240;
  -webkit-box-shadow: rgba(0,0,0,.4) 0 3px 8px;
  -moz-box-shadow: rgba(0,0,0,.4) 0 3px 8px;
  //box-shadow: rgba(0,0,0,.4) 0 3px 8px;

  box-shadow: 0 5px 50px rgba(83, 239, 35, 0.68);
}

.barraSuperior{
  background-size: cover;
  background-position: 0 50%;
  width: 75%;
  height: 8%;
  display: flex;
  align-items:center;
  justify-content: flex-end;
}

.InfoMediciones{
  background-color:#A4A4A4;
  height: 92%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.logo2{
  border-radius: 50%;
  width: 50%;
}
.barraIzquierda hr{
  width: 90%;
}
.mainbar{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}
.element{
  color: white;
}

.CuadroInfo {
  width: 40%;
  height: 20%;
  background: rgba(200, 209, 242, 0.36);
  border-radius: 20px;
  box-shadow: 0 5px 50px rgba(76, 81, 101, 0.36);
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.BloqueSup{
  box-sizing: border-box;
  box-shadow:
    inset 0 0 0 0.5px black;
    border-radius: 20px 20px 0 0 ;

  width: 100%;
  height: 35%;
}
.BloqueInf{
  box-sizing: border-box;
  box-shadow:
    inset 0 0 0 0.5px black;
    border-radius: 0 0 0 20px ;

  width: 50%;
  height: 65%;
}

.BloqueInf2{
  box-sizing: border-box;
  box-shadow:
    inset 0 0 0 0.5px black;
    border-radius: 0 0 20px 0;

  width: 50%;
  height: 65%;
}

.CuadroDispositivo{
  width: 40%;
  height: 20%;
  background-color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
  box-shadow: 0 5px 50px rgba(76, 81, 101, 0.36);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.CuadroFirstButton{
    /*box-shadow: 0 5px 50px rgba(155, 241, 205, 0.36);*/
    width: 400px;
    height: 130px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 5px;
    border-radius: 30px;
    padding: 10px;
    margin-left: 4px;
    background:linear-gradient(to top, rgba(60, 172, 26, 0.73), rgba(82, 226, 38, 0.73), rgba(127, 230, 96, 0.73), rgb(168, 241, 146));
;
}
.CuadroSecondButton{
    /*box-shadow: 0 5px 50px rgba(155, 241, 205, 0.36);*/
    width: 400px;
    height: 130px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 5px;
    border-radius: 30px;
    padding: 10px;
    margin-left: 4px;
    margin-left: 4px;
    background:linear-gradient(to top, rgba(186, 183, 32, 0.73), rgba(229, 226, 35, 0.73), rgba(235, 233, 111, 0.73), rgba(243, 242, 174, 0.73));

}
.CuadroThirdButton{
    //box-shadow: 0 5px 50px rgba(155, 241, 205, 0.36);
    width: 400px;
    height: 130px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 5px;
    border-radius: 30px;
    padding: 10px;
    margin-left: 4px;
    margin-left: 4px;
    background:linear-gradient(to top, rgba(22, 87, 161, 0.73), rgba(29, 118, 219, 0.73), rgba(116, 171, 235, 0.73), rgba(174, 206, 243, 0.73));
}

.ListadoDispositivos{
  height: 92%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.imagedispositivo{
  width:30%;
  height:100%;
}

.infodisp{
  text-align: center;
  width: 100%;
  height: 100%;
}
.statedisp{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.circlestate {
  margin-top: 10px;
  margin-left: 5px;
}

div .NombredispFB{
  margin-top: 10%;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.8;
  color: white;
  text-transform: uppercase;
  font-family:Lucida Console;
  //text-shadow: 4px 4px 5px #16a085;
  text-shadow: 1px 1px 1px #eee, 2px 2px 6px #999;
}
.triangulo {
     width: 0;
     height: 0;
     border-left: 110px solid rgb(70, 205, 149);
     border-top: 60px solid transparent;
     border-bottom: 60px solid transparent;
     margin-top: 15px;
}
.triangulo2 {
     width: 0;
     height: 0;
     border-right: 110px solid rgb(234, 234, 71);
     border-top: 60px solid transparent;
     border-bottom: 60px solid transparent;
     margin-top: 15px;
     margin-right: 10px
}
.triangulo3 {
     width: 0;
     height: 0;
     border-left: 110px solid rgb(90, 167, 240);
     border-top: 60px solid transparent;
     border-bottom: 60px solid transparent;
     margin-top: 15px;
}
.application .BarraMenu{
    //background: rgba(145, 145, 145, 0.34);
    width: 90%;
    height: 7%;
    display: flex;
    align-items:center;
    padding-right: 70px;
    padding-left: 70px;
    justify-content: flex-end;
    left: 0px;
    position: fixed;
    left:70px;
    right: 0px ;
    top: 50px;
    border-radius: 0px 0px 10px 10px;
    box-shadow:  0 10px 10px rgba(0,0,0,0.22);
}

.buttonadd {
  outline:0px;
  margin: none;
}

#btnTools{
  outline:0px;
}
#btnTools2{
  outline:0px;
}


.CuadroCrearDisp{
  box-shadow: 0 5px 50px rgba(76, 81, 101, 0.36);
  margin-top: 15%;
  margin-left: 100px;
  margin-right: 100px;
  width: 50%;
  color: rgb(107, 108, 116);
  font-size: 100%;
}

.labeldisp{
  width: 50%;
  margin: 20px;
  justify-content: center;
  width: 100%;
}

.titulodisp{
  font-size: 150%;
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.inputdisp{
  width: 100%;
}
.buttonagreg {
  outline:0px;
  margin-top: 10px;
}

.formcontainer {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 15%;
    //margin-top: 10%;
    padding: 10px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.65);
    transition: all linear 0.5s;
    display: none;
    z-index: -1;
    color:white;
    width: 75%;
}

.show {
    z-index: 5 !important;
    animation: anim-fade-in linear 0.3s 1;
}

.active {
    display: block !important;
}
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all linear 0.2s;
}
.AddDevBox{
  width: 100%;
  height: 100%;
}
.close:hover {
    text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}
.perfil{
  height: 92%;
  width: 75%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.GreenColor{
  color:green;
}
.RedColor{
  color:red;
}

.main-menu:hover,nav.main-menu.expanded {
  width:250px;
  overflow:visible;
}
.main-menuBox{
  list-style-type: none;

}

.main-menu {
 background: linear-gradient(to bottom,  rgb(16, 81, 172) , rgb(89, 16, 172), rgb(136, 16, 172), rgb(164, 16, 172));
  border-right:1px solid #e5e5e5;
  position: fixed;
  top:50px;
  bottom:0;
  height: 95%;
  left:0;
  width:50px;
  overflow:hidden;
  -webkit-transition:width .05s linear;
  transition:width .05s linear;
  -webkit-transform:translateZ(0) scale(1,1);
  z-index:1000;
  padding: 15px;
  margin: 0;
}

.main-menu>ul {
  margin:12px 0;
}

.main-menu li {
  position:relative;
  display:block;
  width:250px;
  margin-top: 10px;
}

.main-menu li>a {
  position:relative;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color: rgb(209, 209, 209);
  font-family: arial;
  font-size: 14px;
  text-decoration:none;
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .1s linear;
  transition:all .1s linear;
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
  font-size: 17px;
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
  padding: 15px;
  position:absolute;
  left:0;
  bottom:0;
}

.no-touch .scrollable.hover {
  overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;
}

a:hover,a:focus {
  text-decoration:none;
}

nav {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
  text-align: justify;
}
.spacelb{
  margin: 20px;
}

.navBarboxN{
  display: flex;
  align-items:center;
  top: 80px;
  position: fixed;
  left:0px;
  right: 0px;
  margin: 0;
  list-style-type: none;
}

.navBarSelfN{
  width: 100%;
  color: rgb(209, 209, 209);
  /*background: rgb(22, 82, 232);
  background: linear-gradient(to right, rgb(16, 81, 172) , rgb(16, 36, 172), rgb(89, 16, 172), rgb(136, 16, 172), rgb(164, 16, 172));
*/}

.navBarbox2{
  display: flex;
  align-items:center;
  top: 0px;
  position: fixed;
  left:0px;
  right: 0px;
  margin: 0;
  list-style-type: none;
  height: 80px;
  background-color: white;
}

.homeP{
  padding-top: 30px;
  margin-top: 5%;
  Padding-left: 50px;
  width: 100%;
  height: 100%;
}

.spacelb{
  margin-top: 100px
}



.btn-2 {
    letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.spacelb{
  margin: 20px;
}
.imgProfileBox{
  width: 30%;
  height: 30%;
}
.imgProfile{
  width: 200px;
  border-radius: 50%;
  margin: 10%;
}

.imgProfileUsuario{
  width: 100px;
  border-radius: 50%;
  margin: 10%;
}

.infoProfile{
  margin-left:20px;
  width: 70%;
  height: 100%;
}
.cardProfile{
    background-repeat: no-repeat;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 10px;

}
.cardProfile1{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 10px;
}

.boxCardProfile{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

{/*----------------------------------------------------------------------------------------*/}
{/*-----------------------------------Dashboard--------------------------------------------*/}


.Dashback{
/*  background-image:  url("imagenes/Dashboard1.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  //background: rgba(168, 168, 168, 0.9);
}

.IconDollarKw{
  background-color: rgba(248, 245, 57, 0.84);
  padding: 10px;
  border-radius: 50%;
}

.DashboardContainer{
      padding: 15px 5px 20px;
      display: flex;
       flex-flow: row wrap;
       justify-content: flex-start;
}
.DashboardCard{
    padding: 10px 5px 10px;
}

.CardSelf{
  margin: 2px;
  width: 500px;
  height: 290px;
}
.CardSelfN{
  margin: 2px;
  width: 300px;
  height: 300px;
}

.WordNum{
  padding: 50px;
  border-radius: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 600;
  font-size: 50px;
}
.CardNum2{
  background: rgba(57, 108, 248, 0.6);
}

.CardNum{
  background:rgba(158, 225, 90, 0.72);
}

.CardDashboardTittle{
  color: red;
  margin-bottom: 3px solid red;
}

.CardDashboardInfo{
  padding: 10px 20px;
  border-top: solid rgba(183, 183, 183, 0.65);
}

.CardElementInfo{
  margin: 10px 0 0;
}
.SpanTitleDashboard{
  font-weight: 800;
}

.CashKW{
  font-weight: 600;
  font-size: 50px;
}

.smallCard{
  margin: 2px;
  width: 191px;
  height: 100px;
}


.homecolor{
  color:white;
}
.WhiteColor{
  filter:  hue-rotate(0%) saturate(100%) brightness(100%);
}
.DropDownP2{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
}
.DropDownP2 ul {
    color: black;
    text-decoration: none;
    display: block;
}
.MenuProfile:hover .DropDownP2{
  display: block;
}

.MenuProfile {
    position: relative;
    display: inline-block;
}

.DropDownP2 ul li {
    color: black;
    padding: 12px 2px;
    text-decoration: none;
    display: block;
}
.ZIndex{
  z-index: 100;
}

.SearchNavBar{
  border-radius: 20px;

}

.ProfileTittles{
  color: black;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
  text-align:  left;
}

.ProfileInput{
  width: 500px;
}
.LinkEdit{
  display: flex;
  justify-content: center;
}
.profiledata{
  color:black;
  padding: 10%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textobloque {
  color:black;
}

{/*----------------------------------------------------------------------------------------*/}
{/*-----------------------------------Overlay--------------------------------------------*/}

.OverlayD{
  background-color: black;
  width: 50%;
  height: 50%;
}

.CardHome{
  width: 100%;

  background-color: rgba(194, 193, 193, 0.5);
}


h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);



/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.TableAlgo{
  /*background: -webkit-linear-gradient(left, rgba(144, 157, 242, 0.59), rgba(208, 144, 242, 0.54), rgba(242, 144, 226, 0.54));
  background: linear-gradient(to right, rgba(144, 157, 242, 0.59), rgba(208, 144, 242, 0.54), rgba(242, 144, 226, 0.54));
  zzfont-family: 'Roboto', sans-serif;
}
.SectionTable{
  margin: 50px;
}
{/*----------------------------------------------------------------------------------------*/}
{/*-----------------------------------HELP------------------------------------------------*/}

.HelpBar{
  width: 90%;
  height: 7%;
  display: flex;
  align-items:center;
  padding-right: 70px;
  padding-left: 70px;
  justify-content: flex-start;
  left: 0px;
  position: fixed;
  left:70px;
  right: 0px ;
  top: 50px;
  background-color: rgba(178, 178, 178, 0.51);
  border-radius: 0px 0px 10px 10px;
  box-shadow:  0 10px 10px rgba(0,0,0,0.22);
}
.HelpContainer{
  width: 90%;
  height: 100%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 8%;
  margin-left: 30px;
}

.ButtonHelp{
  margin: 10px;
}
.CardHelp{
  margin-bottom: 30px;
  margin-top: 70px;
}
.HelpLi{
  display: inline;
  text-align: center;
  margin: 0 20px 0 0;
  width: 30%;
  font-weight: bold;
  font-size: 20px;
}

.HelpLi .HelpA:hover {
    color: Blue;
}
.HelpLi .HelpA{
    color: black;
}

.DivHelp{
  padding-top: 20px;
  border-top: solid rgba(183, 183, 183, 0.65);
}
/*********************************Top Bar*******************************************/
.MenuBar{
  display: flex;
  align-items:center;
  top: 50px;
  position: fixed;
  left:0px;
  right: 0px;
  margin: 0;
  list-style-type: none;
  background-color: #021C36;
  color: black;
  height: 60px;
}

/*********************************Perfil*******************************************/

.spacelb{
  margin: 20px;
}
.imgProfileBox{
  width: 30%;
  height: 30%;
}
.imgProfile{
  width: 300px;
  border-radius: 50%;
  margin: 10%;
}

.infoProfile{
  margin-left:20px;
  width: 70%;
  height: 150%;
}
.cardProfile{
/*  background-image: url("Imagenes/Profile.png");*/
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 10px;
  width: 1000px;
}
.cardProfile1{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 10px;
}
.ChangeImgProfile{
  text-align: center;
}

.boxCardProfile{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.ProfileInfo p{
  margin-top: 50px;
}


.grid-container {
  display: grid;
  grid-template-columns: auto AUTO;
  grid-gap: 10px;
  padding: 10px;

}

.grid-container div{
  text-align: center;
}

.marginNot{
  margin-top: 10px;
  margin-bottom: 10px;
}
.imgRedonda {
    width:300px;
    height:300px;
    border-radius:150px;
    border:10px solid #666;
}

.UsuarioLista{
  width: 400px;
  height: 130px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 20px;
  border-radius: 30px;
  padding: 10px;
  margin-left: 10px;
  background: linear-gradient(to top, rgba(80, 225, 126, 0.6), rgba(80, 225, 126, 0.6), rgba(116, 225, 80, 0.6), rgba(186, 238, 169, 0.6));
}

.Nombredisp{
  margin-top: 20px;
  font-family: arial;
  font-size: 20px;
}

.left{
  position: absolute;
  right: 20px;
}
.right{
  position: absolute;
  left: 20px;
}

.imgLogoUtem{
  width: 200px;
  margin: 10%;
}

.imgLogoPidi{
  width: 100px;
  margin: 10%;
}


.CrearUsuarioBox{
  display: grid;
  align-items:center;
  top: 200px;
  position: absolute;
  list-style-type: none;
}

.CrearUsuarioTitulo{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-left: 20px;
}

.CrearUsuarioCard{
  justify-content: center;
  width: 800px;
  height: 200px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 20px;
  border-radius: 30px;
  padding: 10px;
  margin-left: 10px;
  padding-top: 80px;
  background: linear-gradient(to top, rgba(22, 149, 191, 0.6), rgba(26, 197, 151, 0.6), rgba(26, 197, 151, 0.6), rgba(137, 239, 212, 0.6));
}
.CrearUsuarioInfo{
  margin-right: 50px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-left: 20px;
  font-size: 20px;
  color: black;
}

.BotonesHorario{
  margin-top: 160px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto AUTO;
  grid-gap: 10px;
  padding: 10px;
}

.UsuarioBox2{
  display: grid;
  grid-template-columns: auto AUTO;;
  top: 800px;
  list-style-type: none;
}
.UsuarioBox1{
  margin-top: 780px;
}
.GestionPerfilBox{
  margin-top: 150px;
}
.FormCancelarReservaBox{
  margin-top: 250px;
}

.FormCancelarReservaBoxCard{
  width: 900px;
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 20px;
  border-radius: 30px;
  padding: 10px;
  margin-left: 10px;
  background: linear-gradient(to top, rgba(22, 149, 191, 0.6), rgba(26, 197, 151, 0.6), rgba(26, 197, 151, 0.6), rgba(137, 239, 212, 0.6));
}
.imagenCalendario{
  width: 200px;
  border-radius: 50%;
  margin: 20%;
}

.SelectReservas{
  width: 50%;
  margin-left: 20%;
}
.FormReserva{
  margin-top: 20%;
}
.wrapperLogin{
  display: flex;
}
.BotonReserva{
  width: 40%;
  height: 50%;
}
.LoginInfoPidi{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 20px;
}

.CardLoginInfoPidi{
  width: 400px;
  height: 600px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 20px;
  border-radius: 30px;
  padding: 10px;
  margin-left: 10px;
  background: linear-gradient(to top, rgba(102, 108, 111, 0.85), rgba(154, 159, 161, 0.85), rgba(192, 197, 199, 0.85), rgba(230, 232, 233, 0.85));
}
.CardLoginForm{
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 20px;
  border-radius: 30px;
  padding: 10px;
  margin-left: 10px;
  background: linear-gradient(to top, rgba(22, 149, 191, 0.4), rgba(26, 197, 151, 0.4), rgba(26, 197, 151, 0.3), rgba(137, 239, 212, 0.3));
}

.cuadrado {
     width: 30px;
     height: 600px;
     margin: 20px;
     background: rgb(2, 28, 54);
}

.PlaceHolderLogin1{
  align-items: center;
  width: 100%;
}
.PlaceHolderLoginForm{
  background-color: rgba(222, 220, 220, 0.83);
  font-size: 15px;
  color: black;
   width: 100%;
   border-radius: 10px;
}
.BotonIngreso{
  font-size: 20px;
  border-radius: 10px;
  width: 350px;
  height: 50px;
  margin-top: 10%;
  background: #00acac;
  color: white;
  border-color: #00acac;
}
.colorPink{
  color: pink;
}
.PalabrasFormLogin{
  align-self: flex-start;
  margin-left: 20%;
}

.imgLogoUtemLogin{
  width: 250px;
  margin: 10%;
}
.InputLogin{
  border-radius: 10px;
  width: 350px;
  margin-top: 10%;
}
.homeP{
  padding-top: 30px;
  margin-top: 5%;
  Padding-left: 50px;
  width: 100%;
  height: 100%;
}
.ColorGreen{
  color: #00acac;
}

.LoginCard{
  margin-top: 30px;
  width: 350px;
}
.TituloInfoPidi{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.TextoInfoPidi{
  margin-top: 30px;
  font-size: 15px;
  text-align: center;
}
.CalendarCard{
  width: 900px;
  height: 550px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 20px;
  border-radius: 30px;
  padding: 10px;
  margin-left: 10px;
  background: linear-gradient(to top, rgba(22, 149, 191, 0.6), rgba(26, 197, 151, 0.6), rgba(26, 197, 151, 0.6), rgba(137, 239, 212, 0.6));
}
.CardReservaDia{
  width: 110%;
  height: 110%;
  display:  flex;
}

.CardReserva{
  width: 50px;
  height: 2px;
  background-color: green;

}

.CalendarioVisualizarCompReserva{
  background-color: green;
}

.ReservaInfoBotonT{
  width: 30px;
  height: 30px;
  background: rgba(249, 166, 76, 0.66);
  color: grey;
  border-color: #00acac;
}
.ReservaInfoBotonM{
  width: 30px;
  height: 30px;
  background: rgba(200, 114, 222, 0.66);
  color: grey;
  border-color: #00acac;
}
.ReservaInfoBotonL{
  width: 30px;
  height: 30px;
  background: white;
  color: grey;
  border-color: #00acac;
}
.CardPrueba{
  width: 2px;
  height: 2px;
}
.GreyColorWord{
  color: grey;
}
.CardDates{
  margin-left: 15px;
  display: flex;
  width: 850px;
  height: 30px;
  border-radius: 10px;
}
